* {
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
  }

p {
    font-family: 'Nanum Myeongjo', serif;    
}

body {
    font-size: 20px;
    color: #444;
    text-align: center;
    line-height: 1.5;
    margin: 0;
    padding: 0;
    background-color: #E0FFFF;
}

nav, footer {
    padding: 1% 0;
}

.uppercase {
    color: white;
}

.uppercase:hover {
    color: #2e7bb0
}

header {
    padding: 1px;
    margin: 0;
}

footer {
    font-size: .5em;
    background-color: black;
    color: white;
}

.hamburger {
    width: 48px;
    height: 42px;
    border: 1px solid #eeeeef;
    border-radius: 2px;
    box-shadow: 0 0 2px #eeeeef;
    padding: 10px 10px;
}

.hamburger-stripe {
    background-color: #6799ff;
    height: 3px;
    margin-bottom: 5px;
}

.project-item {
    width: 70%;
    padding: 10px 10px 20px 10px;
    border: 1px solid #BFBFBF;
    background-color: white;
    box-shadow: 10px 10px 5px #aaaaaa;
    margin: auto;
    margin-bottom: 40px;
    cursor: pointer;
}

.project-item:hover {
    box-shadow: 10px 10px 5px #2e7bb0;
}

#logo {
    border-radius: 25px; 
}

ul {
    -webkit-margin-before: 1em;
    -webkit-margin-after: 1em;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;
    -webkit-padding-start: 40px;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
}

#about {
    background-color: black;
    color: white;
}

#contact-info {
    font-size: .7em;
}

#socialmedia-badges {
    margin-right: 35px;
    display: flex;
    justify-content: center;
}

#socialmedia-badges>li:first-child {
    padding-right: 20px;
}

#email {
    color: #2e7bb0;
}

.badge {
     fill: #2e7bb0;
     margin-right: 3px;
}

.hello {
     padding-right: 20px;
     padding-left: 20px;
}

.name {
    font-size: 80px;
}

.core-stack-hidden, .description-hidden, .got-started-hidden {
    display: none;
}

.core-stack, .about-me, .got-started {
    cursor: pointer;    
}

/* .project-header {
    margin-left: 15%;     
} */