* {
    box-sizing: border-box;
}
/* mobile */
@media only screen and (max-width: 575px) {
    p{
        font-size: .7em;
    }
    .nav-1 {
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: flex-start
    }
    .header {
        display: flex;
        justify-content: space-between;
        padding: 10px;
        border-bottom: 1px solid lightgrey;
    }
    #logo {
        width: 75px;
        height: 30px;
        margin: 1%;
    }
    .uppercase {
        text-transform: uppercase;
        font-weight: bold;
        color: #6799ff    
    }
    .nav-dropdown {
        background-color: #f9fbff;        
    }
    .nav-dropdown-hidden {
        display: none;
    }
    .nav-desktop-grid-closed {
        display: none;
    }
    .nav-item {
        border-bottom: 1px solid lightgrey;
        padding-bottom: 10px;    
        padding-left: 10px; 
        padding-top: 10px;
    }
    .nav-item:not(:first-of-type) {
        padding-top: -10px;
    }
    .nav-dropdown-item {
        background-color: #f9fbff;         
    }
    ul {
        margin:0;
        padding:0;
        width: 100%;        
    }
    .svg-image {
        height: 15px;
        width: auto;
    }
    #devicons {
        display: flex;
        justify-content: center;
    }
    .devicon-icon {
        margin-right: 0;
    }
    .description{
        padding-bottom: 20px;
        margin: 0 30px 10px 30px
    }
    nav {
        background-color: white;
        color: black;
    }
    .name {
        margin-top: 0;
        font-size: 40px;
    }
    .demo-vid {
        width: 75%;
        height: auto;
        padding: 10px
    }
    .project-header {
        font-size: 2em;
        color: #ccc;
        text-align:left;
        margin-left: 15%;
    }
    .project-blurb {
        text-align:left;
        margin-left: 15%;
        margin-right: 15%;         
        
    }
    .core-stack-show {
        padding: 0 15px 15px 15px;
        font-size: .8em;
    }
}

/* non-mobile large screen*/
@media only screen and (min-width: 575px) {
    div.hamburger {
        display: none;
    }
    .nav-primary {
        display: flex;
        justify-content: space-around;
        margin: 0;
        padding: 0;
    }
    #logo {
        display: flex;
        z-index: 1;
        position: fixed;

        width: 10%;
        height: auto;
        margin: .1%;
        padding: 5px;       
    }
    nav {
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        background-color: black;
        color: white;
    }
    .nav-item {
        padding-left: 90px;
    }
    #about {
        padding: 25px;
    }
    .svg-image {
        height: 25px;
        width: auto;
    }
    #devicons {
        display: flex;
        justify-content: center;
    }
    .devicon-icon {
        margin-right: 3px;
    }
    .description {
        margin: 0 200px 100px 200px;
    }
    .demo-vid {
        width: 70%;
        height: auto;
        padding: 20px;
    }
    .description {
        margin: 0 75px 25px 75px
    }
    .project-header {
        font-size: 3em;
        color: #ccc;
        text-align:left; 
        margin-left: 15%;
        margin-bottom: 0;
    }
    .project-blurb {
        text-align:left;
        margin-left: 15%;
        margin-right: 15%;         
    }
}

/* in between a full screen and mobile screen */
@media only screen and (min-width: 575px) and (max-width: 1000px) {
    .svg-image {
        height: 15px;
        width: auto;
    }
    #devicons {
        display: flex;
        justify-content: center;
    }
    .devicon-icon {
        margin-right: 3px;
    }
    .description {
        margin: 0 75px 25px 75px
    }
    nav {
        background-color: black;
        color: white;
    }
    #logo {
        width: 10%;
        height: auto;
        margin: 1%
    }
}
